<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping resource="org/chai/server/dao/hibernate/mappings/Product.hbm.xml"/>
	<mapping resource="org/chai/server/dao/hibernate/mappings/ProductType.hbm.xml"/>
    <mapping resource="org/chai/server/dao/hibernate/mappings/Sale.hbm.xml"/>
    <mapping resource="org/chai/server/dao/hibernate/mappings/Branch.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
